@charset 'utf-8';


/* Clearfix
---------------------------------------- */
%group {
  &:after {
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
  }
}


/* Table
---------------------------------------- */
%table {
  display: table;
  vertical-align: middle;
  > * {
    display: table-row;
    vertical-align: middle;
    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }
}


/* iOS touch
---------------------------------------- */
%disableTouch {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}


/* Hover
---------------------------------------- */
%hover {
  transition: opacity .1s;
  &:hover {
    opacity: .7;
  }
}


/* Font antialiased
---------------------------------------- */
%antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
